html {
  
   background-color: rgb(40,44,54);
}
body {
  background-color: rgb(40,44,54);
  margin: 0 auto ;
  max-width: 990px;
}

.container-fluid .jumbotron {
  border-radius: 0px;
}
#main-container {
  max-width: 990px;
  margin: 0 auto;
  padding: 0;
  border: 6px solid rgb(238,238,238);
}
div.jumbotron {
  padding-top: 30px;
  padding: 10px;
  border-radius: 0px;
  border
}

h1 {
  font-family: 'Bungee', cursive;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 0px;
  font-size: 30px;
}

#tagline {
  margin-left: 10%;
  font-size: .79em;
}

#logo-container {
  margin: 0 auto;
  padding-bottom: 80px;
  padding-top: 70px;
  max-width: 990px;
}

img#logo-landing-spin {
  height: 350px;
  width: 350px;
  display: block;
  margin-left: auto;
  margin-right:auto;
  animation-name: spin;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.775, 0.530, 0.195, 0.910);
  animation-direction: normal;
}

div#welcome-text.container-fluid {
  max-width: 983px;
  background-color: rgb(238,238,238);
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5em;
  padding-left: 35px;
  padding-top: 15px;
}



@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(120deg);
  }
  60% {
    transform: rotate(240deg);
  }
  to {
    transform: rotate(360deg);
  }
}